POSTGRES_USER = "user"
POSTGRES_PASSWORD = "password"
POSTGRES_DB = "db"
DATABASE_URL = "postgresql://user:password@localhost:5432/db"
IO_REDIS_HOST = "localhost"
IO_REDIS_PORT = 6379
PORT = 3000
JWT_SECRET = "secret"
IMPORT_SECRET = "mysecretword"
ADMIN_USERNAME = "admin"
ADMIN_PASSWORD = "password"
NODE_ENV = "develop"
FRONTEND_URL = "http://localhost:5173"
SENTRY_DSN = "dsn"